In [4]:
#1 Convert an integer to a floating-point number.
num = 10
float_num = float(num)
print(float_num)
print(type(float_num))

10.0
<class 'float'>

In [3]:
#2.Convert a float to an integer.
float_num2 = 24.5
integer_num = int(float_num2)
print(integer_num)
print(type(integer_num))

24
<class 'int'>

In [5]:
# 3.Convert an integer to a string.
num = 100
str_num = str(num)
print(str_num)
print(type(str_num))

100
<class 'str'>

In [6]:
# 4.Convert a list to a tuple.
mylist = [1,2,3,4,5]
mytuple = tuple(mylist)
print(mytuple)
print(type(mytuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [7]:
# 5.Convert a tuple to a list.
mytyple2 = (1,2,3,4,5)
mylist2 = list(mytyple2)
print(mylist2)
print(type(mylist2))

[1, 2, 3, 4, 5]
<class 'list'>

In [9]:
# 6.Convert a decimal number to binary.
num = 25
binary_num = bin(num)
print(binary_num)
print(binary_num[2:])

0b11001
11001

In [10]:
# 7.Convert a non-zero number to boolean.
num = 25
bool_value = bool(num)
print(bool_value)

True